%section.container#header
  .row
    .col-xs-12.col-sm-4.header-col.search
      = render 'shared/search'
    .col-xs-12.col-sm-4.header-col.phone
      %strong 012 401 301 / 015 77 99 84 / 097 77 444 56
    .col-xs-12.col-sm-4.icon.text-center
      = link_to 'https://www.facebook.com/glowtechcambodia', target: '_blank' do
        = image_tag 'facebook', class: 'img-responsive'
      = link_to 'https://www.google.com.kh/maps/place/GTC+Computer/@11.5498052,104.8894599,15z/data=!4m2!3m1!1s0x0:0x2a41e8f8262ef9d1', target: '_blank' do
        = image_tag 'map', class: 'img-responsive'


