%section.container#header
  .row
    .col-xs-6.col-sm-6.col-md-3.text-center
      = image_tag 'gtc-logo.png', class: 'img-responsive logo'
      %h3.full-name.text-muted The One You Trust
    .col-xs-6.col-sm-6.col-md-4.contact
      %p.phone
        %span.icon= fa_icon 'phone'
        012 401 301
      %p.phone
        %span.icon= fa_icon 'phone'
        015 77 99 84
      %p.phone
        %span.icon= fa_icon 'phone'
        097 77 444 56
    .col-xs-12.col-md-4.search
      = render 'shared/search'




