%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#gtc-navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'GTC Computer', root_url, class: 'navbar-brand'
    #gtc-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Desktop', category_products_url(@main_categories.first)
        %li= link_to 'Laptop', category_products_url(@main_categories.first)
        %li= link_to 'Accessories', category_products_url(@main_categories.first)
        %li= link_to 'Printer', category_products_url(@main_categories.first)
        %li= link_to 'Services', category_products_url(@main_categories.first)
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Contact', '#'
        %li= link_to 'About', '#'