%section#products.container-fluid
  .row
    .col-xs-12.text-center
      %h1
        %strong= "Result for #{params[:search].try(:[], 'query')}"
    .col-xs-12.text-center
      = pagination_links @products
    - @products.each do |product|
      = render 'shared/product', product: product, category: product.category
    .col-xs-12.text-center
      = pagination_links @products
