%p#notice= notice
%h1 Listing Products
%table.table.table-strip.table-hover
  %thead
    %tr
      %th Name
      %th{colspan: "3"} Action
  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= link_to 'Show', admin_category_product_url(@category, product)
        %td= link_to 'Edit', edit_admin_category_product_url(@category, product)
        %td= link_to 'Destroy', admin_category_product_url(@category, product), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Product', new_admin_category_product_url(@category), class: 'btn btn-primary'
