%section#products.container
  %h1.text-center
    %strong= @category.name
  .row
    - if @category.content_top?
      = render 'category_description'
    - @category.subcategories.each do |category|
      - if category.summary_products.any?
        .col-xs-12.category-title
          %h3.label-category= category.name
          %hr
        - category.summary_products.includes(:images).each do |product|
          .col-xs-12.col-sm-6.col-md-3.col-lg-2.col-product
            .panel.panel-default.panel-card.panel-products.panel-hover
              - if product.sold?
                %span.label.label-danger.sold Sold
              = link_to category_product_path(category, product) do
                = image_tag product.image_thumb_url, class: 'img-responsive'
                .panel-body
                  %p.pro-name
                    %strong= truncate(product.name, length: 40)
                  %p.summary
                    %small= truncate(product.summary, length: 80)
                    .label-group
                      .label.label-danger= "#{product.price} $"
                      - unless product.status.blank?
                        .label.label-info.status-label= product.status


        = render 'view_more', category: category
        .col-xs-12.devider
    - if @category.products.any?
      .col-xs-12.category-title
        %h3.label-category Other
        %hr
      - @category.products.includes(:images).each do |product|
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.col-product
          .panel.panel-default.panel-card.panel-products.panel-hover
            - if product.sold?
              %span.label.label-danger.sold Sold
            = link_to category_product_path(@category, product) do
              = image_tag product.image_thumb_url, class: 'img-responsive'
              .panel-body
                %p.pro-name
                  %strong= truncate(product.name, length: 40)
                %p.summary
                  %small= truncate(product.summary, length: 80)
                  .label-group
                    .label.label-danger= "#{product.price} $"
                    - unless product.status.blank?
                      .label.label-info.status-label= product.status
    - if @category.content_bottom?
      = render 'category_description'
