!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "UTF-8"}/
    %title GTC Computer
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ id: body_id, class: body_class, 'ng-app' => 'AdminApp' }
    #wrapper
      #sidebar-wrapper{ ng: { controller: 'SidebarCtrl' }}
        = admin_side_bar(@main_categories)
      %a#menu-toggle{:href => "#menu-toggle"}= fa_icon 'bars', class: 'fa-3x'
      #page-content-wrapper
        %p= notice
        = yield

