!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "UTF-8"}/
    = display_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = render 'layouts/analytics'
  %body{ id: body_id, class: body_class }

    = render 'shared/header'
    = render 'shared/navbar'
    = render 'shared/slider' unless @slider.nil?
    = yield
    = render 'shared/footer'

